<div class="container">
    <div>
        <h1 class="header_text">Hi Pubsik</h1>

        <h1 class="header_text">Do you wanna date me?</h1>
    </div>
    <div class="gif_container">
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDdtZ2JiZDR0a3lvMWF4OG8yc3p6Ymdvd3g2d245amdveDhyYmx6eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/cLS1cfxvGOPVpf9g3y/giphy.gif"
            alt="Cute animated illustration">
    </div>
    <div class="buttons">
        <button class="btn" id="yesButton" (click)="nextPage()">Yes</button>
        <button class="btn" id="noButton" (mouseover)="moveButton()" (click)="moveButton()">No</button>
    </div>
</div>