<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">

<section class="intro">
    <div class="container">
        <!-- img1 -->
        <div class="image-container">

            <img class="l" src="assets\pics\IMG_8919.jpeg" alt="Introduction Image">
            <!-- Section 1 -->
            <div class="section-r  white-bg">
                <p class="paragraph-r">Happy birthday My Dearest Pubsik, As a new year in your life graces us with its presence, I
                    find myself marveling
                    at
                    the journey we've embarked on together. From the first sparks that ignited our connection to the
                    blazing fire of love and companionship that now warms our hearts.</p>
            </div>
        </div>

        <!-- Arrow moving from left to right (reversed) -->
        <div class="graph__wrapper ">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <polyline id="arrowToRight" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-1" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- img2 -->
        <!-- Text on the left, image on the right -->
        <div class="image-container">
            <!-- Section 2 -->
            <div class="section white-bg">
                <p class="paragraph-r">Every moment with you has been a
                    cherished chapter in the book of our lives, with each passing year, the universe seems to conspire to make you even more enchanting, more irresistible, and more intoxicatingly beautiful. As I pen down these words on the canvas of our love, I find myself lost in the depths of admiration for the divine creation that is you.</p>
            </div>
            <img class="r" src="assets\pics\msg523354868-8252.jpg" alt="Introduction Image">
        </div>
        <!-- Arrow moving from right to left -->
        <div class="graph__wrapper arrowToRight">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-2" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,130 200,80 T40,390" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,150 200,80 T40,390" />
                    <polyline id="arrowToLeft" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-2" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- Text on the right, image on the left -->
        <div class="image-container">
            <img class="l" style="height: 600px;" src="assets\pics\msg523354868-8254.jpg" alt="Introduction Image">
            <!-- Section 2 -->
            <div class="section-r  white-bg">
                <p class="paragraph-r">From the moment our souls intertwined, fate wove a tapestry of love that binds us in a symphony of passion and desire. Like the finest wine, our love has matured, gaining complexity and depth with every shared glance, every tender touch, every whispered promise.</p>
            </div>
        </div>


        <!-- Arrow moving from left to right (reversed) -->
        <div class="graph__wrapper ">
            <svg width="350px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <polyline id="arrowToRight" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-1" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- img2 -->
        <!-- Text on the left, image on the right -->
        <div class="image-container">
            <!-- Section 2 -->
            <div class="section white-bg" >
                <p class="paragraph-r"  >In the grand ballroom of life, you are my favorite dance partner, gracefully leading me through the intricate steps of romance and seduction. With every sway and twirl, our hearts beat in perfect harmony, syncing to the rhythm of our shared desires.</p>
            </div>
            <img class="r" style="height: 500px;" src="assets\pics\msg523354868-8249.jpg" alt="Introduction Image">
        </div>
        <!-- Arrow moving from right to left -->
        <div class="graph__wrapper arrowToRight" >
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-2" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,130 200,80 T40,390" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,150 200,80 T40,390" />
                    <polyline id="arrowToLeft" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-2" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- Text on the right, image on the left -->
        <div class="image-container">
            <img class="l" src="assets\pics\msg523354868-8250.jpg" alt="Introduction Image">
            <!-- Section 2 -->
            <div class="section-r  white-bg">
                <p class="paragraph-r"> the landscape of time, I am in awe of the beauty that surrounds us, mirrored only by the radiance that emanates from your soul. Your essence is a melody that serenades my spirit, awakening a hunger that can only be sated by the sweet nectar of your love.</p>
            </div>
        </div>
        <!-- Arrow moving from left to right (reversed) -->
        <div class="graph__wrapper ">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <polyline id="arrowToRight" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-1" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- img2 -->
        <!-- Text on the left, image on the right -->
        <div class="image-container">
            <!-- Section 2 -->
            <div class="section white-bg">
                <p class="paragraph-r">In your presence, I am consumed by a fire that burns with an intensity unmatched by any flame. Your touch ignites a passion within me that threatens to consume us both, yet I welcome the inferno with open arms, for it is in the crucible of our love that we are forged anew, stronger and more resilient than ever before.</p>
            </div>
            <img class="r" src="assets\pics\msg523354868-8253.jpg" alt="Introduction Image">
        </div>
        <!-- Arrow moving from right to left -->
        <div class="graph__wrapper arrowToRight">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-2" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,130 200,80 T40,390" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,150 200,80 T40,390" />
                    <polyline id="arrowToLeft" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-2" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- Text on the right, image on the left -->
        <div class="image-container">
            <img class="l" src="assets\pics\IMG_7560.jpeg" alt="Introduction Image">
            <!-- Section 2 -->
            <div class="section-r  white-bg">
                <p class="paragraph-r">As we celebrate the anniversary of your birth, my heart swells with gratitude for the gift of your presence in my life. You are not just my lover, my confidante, my muse; you are my soulmate, the missing piece of the puzzle that completes me in ways I never thought possible.</p>
            </div>
        </div>
        <!-- Arrow moving from left to right (reversed) -->
        <div class="graph__wrapper ">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <polyline id="arrowToRight" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-1" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- img2 -->
        <!-- Text on the left, image on the right -->
        <div class="image-container">
            <!-- Section 2 -->
            <div class="section white-bg">
                <p class="paragraph-r">Together, we are unstoppable, a force of nature bound only by the limits of our imagination. With you by my side, I fear no challenge, for your love is the armor that shields me from the slings and arrows of the world.</p>
            </div>
            <img class="r"  style="height: 500px;" src="assets\pics\ss.png" alt="Introduction Image">
        </div>
        <!-- Arrow moving from right to left -->
        <div class="graph__wrapper arrowToRight">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-2" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,130 200,80 T40,390" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M530,20 Q420,150 200,80 T40,390" />
                    <polyline id="arrowToLeft" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-2" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- Text on the right, image on the left -->
        <div class="image-container">
            <img class="l" src="assets\pics\photo1711220086.jpeg" alt="Introduction Image">
            <!-- Section 2 -->
            <div class="section-r  white-bg">
                <p class="paragraph-r">So here's to you, my dearest Pubsik, the light of my life, the fire in my soul, the epitome of everything that is good and pure in this world. May your birthday be as spectacular as you are, filled with love, laughter, and unforgettable moments that we will cherish for eternity.</p>
            </div>
        </div>

        <!-- Arrow moving from left to right (reversed) -->
        <div class="graph__wrapper ">
            <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round"
                        stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81" />
                    <polyline id="arrowToRight" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                        <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="indefinite" fill="freeze">
                            <mpath xlink:href="#Path-1" />
                        </animateMotion>
                    </polyline>
                </g>
            </svg>
        </div>

        <!-- img2 -->
        <!-- Text on the left, image on the right -->
        <div class="image-container">
            <!-- Section 2 -->
            <div class="section white-bg">
                <p class="paragraph-r">With all my love and devotion,
                    Your Meschonuk</p>
            </div>
            <img class="r" src="assets\pics\msg523354868-8251.jpg" alt="Introduction Image">
        </div>


    </div>
</section>